@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

*,
*::after,
*::before {
box-sizing: border-box;
}

html,
body {
height: 100%;
}

body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1.5em;
}

a {
color: #66cc99;
text-decoration: none;
}

.bold {
color: #4a4e51;
font-weight: 400;
}

.resume-wrapper {
position: center;
text-align: justify;
height: 100%;
}

.container {
min-height: 600px;
}

.profile {
background: #fff;
width: 40%;
float: left;
text-align: center;
color: #9099a0;

.name-wrapper {
float: left;
width: 60%;
  }

  h1 {
  font-size: 2.5em;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: #4a4e51;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 40px;

    .picture-resume-wrapper {
      width: 40%;
      display: block;
      float: left;
      text-align: center;
    }

    .picture-resume {
      width: 220px;
      height: 220px;
      background-size: cover;
      border-radius: 50%;
      margin-right: 0px;
      display: table;
      position: relative;
      vertical-align: middle;

      span {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        z-index: 10;
        text-align: center
      }

      img {
        border-radius: 50%;
        text-align: center;

        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        background-color: blue;
        /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */
        width: 100%;
        border-radius: 50%;
        /*for demo*/
        display: initial;
        vertical-align: middle;
      }
    }
  }
}

.contact-info {
  margin-top: 100px;
  font-weight: 300;
}

.list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 40%;
  color: #4a4e51;
}

.list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}

.contact-presentation {
  text-align: left;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 100px;
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.circle {
  background: lightblue;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.experience {
  background: #3d3e42;
  width: 60%;
  float: left;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}

h3.experience-title {
  color: 66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}

.job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}

.experience-title {
  color: white;
  margin-bottom: 15px;
}

.section-padding {
  padding: 60px 60px 40px 40px;
}

.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: 66cc99;
  font-weight: 300;
  margin-bottom: 20px;
}

&:nth-child(3) {
  padding-right: 8%;
}

h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

&::before {
  content: "";
  height: 6px;
  background: #66cc99;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}

@media screen and (min-width: 576px) {
  .footer {
    display: none;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}